.dropzone {
    width: 300px;
    height: 200px;
    border: 2px dashed #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #444;
  }

  .dropzone.over {
    border-color: green;
    background: #e8ffe8;
  }
  .dropzone.erro {
    border-color: #be0505;
    background: #f19999;
  }
  .imgArea{
    width: 300px;
    height: 200px;
    background-color: rgb(196, 196, 196);
    margin-top: 10px;

  }
  .imgArea.pdf{
    background-color: #be0505;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }